# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment variables
.env


# Vector database & generated data
data/
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual environment
my_env/
venv/
env/
